In [1]:
import requests
import json
import datetime as dt
import time
import requests
import regex as re
import collections
import plotly.express as px
import plotly.graph_objects as go
from collections import Counter
from termcolor import colored

import os
from os import path
from wordcloud import WordCloud

import scipy.stats as stats
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Infrastructure EDA

### Goals
The goal of EDA here will be to examine which datasets are feasible for our problem at hand. We need a dataset that covers a wide range of countries and data for at least 20 years. Additionally we need to carefully examine the units for each indicator as we will most likely need to convert them to a standard unit. 

Once cleaned we will need to calculate the Coeffecient of Variation (COV) for each country across each of the indicators to see which countries have very unstable infrastructure and most likely political instability.

From there we will select countries that are specific to a region that also show a high COV in our disease datasets.

There is also the issue of multicolinearity between healthcare spending and the healthcare inputs of each dataset. I will likely just include healthcare spending since that dataset has the most robust data compared to the inputs dataset. Ideally we would like to have data on specific inputs for every country however countries that are relatively unstable politically and infrastructure wise have only recently started reporting these statistics.

In [2]:
%autosave 120

Autosaving every 120 seconds

In [3]:
pd.set_option('display.max_rows', 500)

In [4]:
infra = pd.read_csv('../Data/Infrastructure/infrastructure_1.csv')

In [5]:
health = pd.read_csv('../Data/Infrastructure/Health_1.csv')

In [6]:
hosp_count = pd.read_csv('../Data/Infrastructure/healthcare_hospitalscount.csv')

In [7]:
h_tech = pd.read_csv('../Data/Infrastructure/healthcare_tech.csv')

In [8]:
h_workers = pd.read_csv('../Data/Infrastructure/healthcare_workers.csv')

In [9]:
h_spend = pd.read_csv('../Data/Infrastructure/healthcare_expenditure.csv')

## Infrastructure

In [10]:
infra.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,ICT goods exports (% of total goods exports),TX.VAL.ICTG.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.404431,0.419583,0.713791,0.412533,0.933620,0.542872,1.038984,1.185680,NaN,NaN
1,Aruba,ABW,ICT goods imports (% total goods imports),TM.VAL.ICTG.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.764945,4.627908,4.420786,5.268659,5.243941,5.734922,4.918148,4.854330,NaN,NaN
2,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,62.000000,69.000000,74.000000,78.900000,83.780000,88.661227,93.542454,97.170000,NaN,NaN
3,Aruba,ABW,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,NaN,NaN,NaN,NaN,NaN,NaN,...,88.522559,127.393528,253.510140,426.526042,568.543180,757.132862,1172.858342,977.544939,1152.628844,NaN
4,Aruba,ABW,Secure Internet servers,IT.NET.SECR,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,13.000000,26.000000,44.000000,59.000000,79.000000,123.000000,103.000000,122.000000,NaN

In [11]:
#infra.dtypes

In [12]:
#counting nulls for each
#infra.isnull().sum()

In [13]:
infra['Country Name'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. Peopleâ€™s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [14]:
infra['Indicator Name'].unique()

array(['ICT goods exports (% of total goods exports)',
       'ICT goods imports (% total goods imports)',
       'Individuals using the Internet (% of population)',
       'Secure Internet servers (per 1 million people)',
       'Secure Internet servers',
       'Fixed broadband subscriptions (per 100 people)',
       'Fixed broadband subscriptions',
       'Fixed telephone subscriptions (per 100 people)',
       'Fixed telephone subscriptions',
       'Mobile cellular subscriptions (per 100 people)',
       'Mobile cellular subscriptions',
       'Container port traffic (TEU: 20 foot equivalent units)',
       'Liner shipping connectivity index (maximum value in 2004 = 100)',
       'Rail lines (total route-km)',
       'Railways, passengers carried (million passenger-km)',
       'Railways, goods transported (million ton-km)',
       'Air transport, passengers carried',
       'Air transport, freight (million ton-km)',
       'Air transport, registered carrier departures worldwide',
       'Quality of port infrastructure, WEF (1=extremely underdeveloped to 7=well developed and efficient by international standards)',
       'Trademark applications, resident, by count',
       'Trademark applications, nonresident, by count',
       'Industrial design applications, resident, by count',
       'Industrial design applications, nonresident, by count',
       'Public private partnerships investment in water and sanitation (current US$)',
       'Public private partnerships investment in transport (current US$)',
       'Public private partnerships investment in energy (current US$)',
       'Investment in water and sanitation with private participation (current US$)',
       'Investment in transport with private participation (current US$)',
       'Investment in ICT with private participation (current US$)',
       'Investment in energy with private participation (current US$)',
       'Renewable internal freshwater resources per capita (cubic meters)',
       'Renewable internal freshwater resources, total (billion cubic meters)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annual freshwater withdrawals, total (billion cubic meters)',
       'Annual freshwater withdrawals, industry (% of total freshwater withdrawal)',
       'Annual freshwater withdrawals, domestic (% of total freshwater withdrawal)',
       'Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
       'Electric power consumption (kWh per capita)',
       'Electricity production from oil sources (% of total)',
       'Electricity production from nuclear sources (% of total)',
       'Electricity production from natural gas sources (% of total)',
       'Electric power transmission and distribution losses (% of output)',
       'Electricity production from hydroelectric sources (% of total)',
       'Electricity production from coal sources (% of total)',
       'ICT service exports (% of service exports, BoP)',
       'ICT service exports (BoP, current US$)'], dtype=object)

In [15]:
#dropping columns I don't need
infra.drop(axis = 0, columns = ['Country Code', 'Indicator Code'], inplace = True)

In [16]:
#Setting the index to Country Name
infra = infra.set_index('Country Name')

In [17]:
infra.head()

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ICT goods exports (% of total goods exports),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.404431,0.419583,0.713791,0.412533,0.933620,0.542872,1.038984,1.185680,NaN,NaN
Aruba,ICT goods imports (% total goods imports),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.764945,4.627908,4.420786,5.268659,5.243941,5.734922,4.918148,4.854330,NaN,NaN
Aruba,Individuals using the Internet (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.000000,69.000000,74.000000,78.900000,83.780000,88.661227,93.542454,97.170000,NaN,NaN
Aruba,Secure Internet servers (per 1 million people),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.522559,127.393528,253.510140,426.526042,568.543180,757.132862,1172.858342,977.544939,1152.628844,NaN
Aruba,Secure Internet servers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,13.000000,26.000000,44.000000,59.000000,79.000000,123.000000,103.000000,122.000000,NaN

In [18]:
infra.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/infra_clean.csv', index = True)

**Notes**: Lots of nulls for early data because they likely did not have the means to record such data in the 70s and 80s. Should also be noted there are a lot of indicators here, will likely have to handpick which ones I will use.

### Infrastructure COV

In [19]:
#finding total COV for a row, this does COV for each individual indicator
infra['COV'] = (infra.std(axis = 1))/(infra.mean(axis=1))

In [20]:
#we are grouping each country and summing all their COV for each indicator
infra_total_cov = infra.groupby('Country Name')['COV'].sum()

In [21]:
#converting to dataframe
infra_total_cov = pd.DataFrame(data=infra_total_cov)

In [22]:
infra_order = infra_total_cov.sort_values(by ='COV' , ascending=False)

In [23]:
infra_order.head(40)

                                                   COV
Country Name
Cambodia                                     38.780142
Indonesia                                    35.355332
China                                        35.069553
Cameroon                                     33.977386
Vietnam                                      33.074640
Brazil                                       33.037385
India                                        32.921431
Sri Lanka                                    32.328129
Nigeria                                      32.291814
Mozambique                                   31.382685
Philippines                                  31.263558
Myanmar                                      31.108013
Tanzania                                     31.070249
Ethiopia                                     30.307800
Peru                                         30.158154
Bangladesh                                   30.057067
Turkey                                       29.975888
Algeria                                      29.730952
Sudan                                        29.631659
Nepal                                        29.536912
Iran, Islamic Rep.                           29.294712
Malaysia                                     28.863849
Late-demographic dividend                    28.742581
East Asia & Pacific (IDA & IBRD countries)   28.558674
Albania                                      28.511274
Ghana                                        28.399849
Thailand                                     28.352708
East Asia & Pacific (excluding high income)  28.292260
Colombia                                     28.127636
Jordan                                       27.863809
South Africa                                 27.767373
Bolivia                                      27.629758
Mauritius                                    27.592407
South Asia (IDA & IBRD)                      27.588816
South Asia                                   27.588816
Moldova                                      27.513375
Iraq                                         27.511161
Ecuador                                      27.350706
Zambia                                       27.290333
Romania                                      27.031716

In [24]:
infra_order.tail(20)

                                COV
Country Name
British Virgin Islands     8.038518
Guam                       7.938291
Monaco                     7.891493
Puerto Rico                7.708636
Bermuda                    7.376690
Faroe Islands              7.302297
Gibraltar                  6.981661
Cayman Islands             6.809587
American Samoa             6.745444
Greenland                  6.691395
Virgin Islands (U.S.)      6.528253
Liechtenstein              6.277209
Northern Mariana Islands   5.890408
Curacao                    3.324878
Kosovo                     3.277445
Sint Maarten (Dutch part)  2.464273
Isle of Man                2.375722
St. Martin (French part)   2.104284
Channel Islands            0.000000
Not classified             0.000000

## Healthcare Total Expenditure

In [25]:
h_spend.head()

  LOCATION  INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS  HEALTHEXP     TOT  PC_GDP         A  1971  4.547        NaN
1      AUS  HEALTHEXP     TOT  PC_GDP         A  1972  4.547        NaN
2      AUS  HEALTHEXP     TOT  PC_GDP         A  1973  4.511        NaN
3      AUS  HEALTHEXP     TOT  PC_GDP         A  1974  5.112        NaN
4      AUS  HEALTHEXP     TOT  PC_GDP         A  1975  5.760        NaN

In [26]:
h_spend['Country Name'].unique()

KeyError: 'Country Name'

In [ ]:
h_spend.dtypes

In [ ]:
h_spend.isnull().sum()

In [ ]:
h_spend.drop(axis = 0, columns = ['FREQUENCY', 'Flag Codes'], inplace = True)

In [ ]:
h_spend = h_spend.set_index('LOCATION')

In [ ]:
h_spend.head()

In [ ]:
h_spend.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/hspend_clean.csv', index = True)

**Notes**: Going to have to conver the index 3 letter to actual country name since that's what the other datasets are using. Will be easy once I do country selection and my subset of countries is relatively small. Decided to leave in subject, indicator, and measure for convenience stack. Also a wide range of data for this dataset, going back to 1971 WITH values.

### Healthcare Spending COV

In [ ]:
#grouping by location and taking the COV of all values for grouped countries
spend_cov = (h_spend.groupby('LOCATION')['Value'].std()) / (h_spend.groupby('LOCATION')['Value'].mean())
spend_cov = pd.DataFrame(data=spend_cov)

#renaming for readability
spend_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
spend_order = spend_cov.sort_values(by ='COV' , ascending=False)

In [ ]:
#highest 50 COV
spend_order.head(20)

In [ ]:
#lowest 50 COV
spend_order.tail(20)

## Health Indicators

In [ ]:
health.head()

In [ ]:
health.isnull().sum()

In [ ]:
len(health['Indicator Name'].unique())

In [ ]:
len(health['Country Name'].unique())

In [ ]:
health['Indicator Name'].unique()

**Notes**: Most of the data that I want from this dataset can be found in the infrastructure dataset above. Therefore I will likely not be using this dataset.

## Hospital Counts

In [ ]:
hosp_count.head()

In [ ]:
hosp_count.dtypes

In [ ]:
hosp_count['Country'].unique()

In [ ]:
hosp_count.isnull().sum()

In [ ]:
hosp_count['Year'].unique()

In [ ]:
hosp_count.drop(axis = 0, columns = ['VAR', 'UNIT', 'Measure', 'COU', 'Flag Codes', 'Flags'], inplace = True)

In [ ]:
hosp_count = hosp_count.set_index('Country')

In [ ]:
hosp_count.head()

In [ ]:
hosp_count.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/hospcount_clean.csv', index = True)

**Notes**: Pretty straightforward dataset, just counts of hospitals in a country over time. Will likely have the lowest COV among other datasets. Data goes back to 2000.

### Hospital COV

In [ ]:
#grouping by location and taking the COV of all values for grouped countries
hosp_cov = (hosp_count.groupby('Country')['Value'].std()) / (hosp_count.groupby('Country')['Value'].mean())
hosp_cov = pd.DataFrame(data=hosp_cov)

#renaming for readability
hosp_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
hosp_order = hosp_cov.sort_values(by ='COV' , ascending=False)

In [ ]:
#highest 50 COV
hosp_order.head(100)

In [ ]:
#lowest 50 COV
hosp_order.tail(20)

## Medical Worker Counts

In [ ]:
h_workers.head()

In [ ]:
h_workers.dtypes

In [ ]:
h_workers['Country'].unique()

In [ ]:
h_workers.isnull().sum()

In [ ]:
h_workers['Year'].unique()

In [ ]:
h_workers.drop(axis = 0, columns = ['VAR', 'UNIT', 'Measure', 'COU', 'Flag Codes', 'Flags'], inplace = True)

In [ ]:
h_workers = h_workers.set_index('Country')

In [ ]:
h_workers.head()

In [ ]:
h_workers.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/workers_clean.csv', index = True)

**Notes**: Again a fairly straight forward dataset, just counts for each type of graduates. Unfortunately values start in 2005, will have to figure out how to find data for 2000-2005. Will be feasable once I select my subset of countries.

### Medical Workers COV

In [ ]:
#grouping by location and taking the COV of all values for grouped countries
workers_cov = (h_workers.groupby('Country')['Value'].std()) / (h_workers.groupby('Country')['Value'].mean())
workers_cov = pd.DataFrame(data=workers_cov)

#renaming for readability
workers_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
workers_order = workers_cov.sort_values(by ='COV' , ascending=False)

In [ ]:
workers_order.head(40)

In [ ]:
workers_order.tail(40)

## Medical Technology Counts

In [ ]:
h_tech.head()

In [ ]:
h_tech.dtypes

In [ ]:
h_tech['Country'].unique

In [ ]:
h_tech.isnull().sum()

In [ ]:
h_tech['Year'].unique()

In [ ]:
h_tech.drop(axis = 0, columns = ['VAR', 'UNIT', 'Measure', 'COU', 'Flag Codes', 'Flags'], inplace = True)

In [ ]:
h_tech = h_tech.set_index('Country')

In [ ]:
h_tech.head()

In [ ]:
h_tech.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/tech_clean.csv', index = True)

**Notes**: Another count dataset with data from 2000 to now.

### Medical Technology COV

In [ ]:
#grouping by location and taking the COV of all values for grouped countries
tech_cov = (h_tech.groupby('Country')['Value'].std()) / (h_tech.groupby('Country')['Value'].mean())
tech_cov = pd.DataFrame(data=tech_cov)

#renaming for readability
tech_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
tech_order = tech_cov.sort_values(by ='COV' , ascending=False)

In [ ]:
#highest 50 COV
tech_order.head(20)

In [ ]:
#lowest 50 COV
tech_order.tail(20)

# COV Analysis Findings