In [2]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, GRU
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

import matplotlib.pyplot as plt
%matplotlib inline

# Creating our Time Series Dataframe

In [3]:
infra_c = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastructure/infra_clean.csv')

In [132]:
spend_c = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastructure/hspend_clean.csv')

In [134]:
mex_pharm = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastrcture/pharm_clean.csv')

In [5]:
tech_c = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastructure/tech_clean.csv')

In [144]:
workers_c = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastructure/workers_clean.csv')

In [120]:
mex_dr = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastructure/doc_count_clean/.csv')

In [143]:
mex_nurses = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastructure/nurse_count_clean.csv')

In [7]:
hosp_c = pd.read_csv('../Data/Infrastructure/Cleaned_Infrastructure/hospcount_clean.csv')

In [9]:
cholera_c = pd.read_csv('../Data/Diseases/cleaned_disease/cholera_clean.csv')

In [10]:
malaria_c = pd.read_csv('../Data/Diseases/cleaned_disease/malaria_clean.csv')

In [11]:
measles_c = pd.read_csv('../Data/Diseases/cleaned_disease/measles_clean.csv')

In [12]:
mumps_c = pd.read_csv('../Data/Diseases/cleaned_disease/mumps_clean.csv')

In [13]:
pert_c = pd.read_csv('../Data/Diseases/cleaned_disease/pert_clean.csv')

In [14]:
rubella_c = pd.read_csv('../Data/Diseases/cleaned_disease/rubella_clean.csv')

In [15]:
tb_c = pd.read_csv('../Data/Diseases/cleaned_disease/tb_clean.csv')

In [142]:
tet_c = pd.read_csv('../Data/Diseases/cleaned_disease/tet_clean.csv')

# Filtering Infrastructure Data for Mexico

In [145]:
mex_infra = infra_c.loc[infra_c['Country Name'] == 'Mexico']

In [146]:
mex_infra.head()

,Country Name,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
7144,Mexico,ICT goods exports (% of total goods exports),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.166782,16.995108,16.858755,16.266397,16.038272,16.189341,16.143444,16.108171,NaN,NaN
7145,Mexico,ICT goods imports (% total goods imports),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.225457,17.284306,16.507423,17.107871,16.338254,16.452883,16.508494,15.112958,NaN,NaN
7146,Mexico,Individuals using the Internet (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.050000,37.176295,39.750000,43.460000,44.390000,57.431043,59.540446,63.852249,65.772634,NaN
7147,Mexico,Secure Internet servers (per 1 million people),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.418882,17.295404,26.826030,31.608935,40.962110,57.886926,119.659418,185.482420,225.745480,NaN
7148,Mexico,Secure Internet servers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1531.000000,2001.000000,3146.000000,3756.000000,4930.000000,7054.000000,14758.000000,23144.000000,28487.000000,NaN

In [147]:
mex_spend = spend_c.loc[spend_c['LOCATION'] == 'MEX']

In [148]:
#percent gdp
mex_spend.head()

     LOCATION  INDICATOR SUBJECT MEASURE  TIME  Value
1279      MEX  HEALTHEXP     TOT  PC_GDP  1999  4.395
1280      MEX  HEALTHEXP     TOT  PC_GDP  2000  4.449
1281      MEX  HEALTHEXP     TOT  PC_GDP  2001  4.820
1282      MEX  HEALTHEXP     TOT  PC_GDP  2002  5.072
1283      MEX  HEALTHEXP     TOT  PC_GDP  2003  5.815

In [149]:
mex_pharm = mex_pharm.loc[mex_pharm['LOCATION'] == 'MEX']

In [150]:
mex_pharm.head()

    LOCATION  INDICATOR  TIME    Value
333      MEX  PHARMAEXP  1999   88.193
334      MEX  PHARMAEXP  2000  100.973
335      MEX  PHARMAEXP  2001  110.626
336      MEX  PHARMAEXP  2002  127.529
337      MEX  PHARMAEXP  2003  242.818

In [151]:
mex_tech = tech_c.loc[tech_c['Country'] == 'Mexico']

In [152]:
mex_tech.head()

     Country                             Variable   YEA  Year  Value
3330  Mexico  Computed Tomography scanners, total  2001  2001  250.0
3331  Mexico  Computed Tomography scanners, total  2002  2002  296.0
3332  Mexico  Computed Tomography scanners, total  2003  2003  309.0
3333  Mexico  Computed Tomography scanners, total  2004  2004  289.0
3334  Mexico  Computed Tomography scanners, total  2005  2005  325.0

In [153]:
mex_workers = workers_c.loc[workers_c['Country'] == 'Mexico']

In [154]:
mex_workers.drop(axis = 0, columns = ['YEA'], inplace = True)

In [155]:
mex_workers.head()
#not enough data can't use. maybe fill in this data?

     Country           Variable  Year    Value
6468  Mexico  Medical graduates  2005  11973.0
6469  Mexico  Medical graduates  2006  10899.0
6470  Mexico  Medical graduates  2007  12255.0
6471  Mexico  Medical graduates  2008  13209.0
6472  Mexico  Medical graduates  2009  12926.0

In [156]:
mex_dr = mex_dr.loc[mex_dr['LOCATION'] == 'MEX']

In [157]:
#these are per 1000 people
mex_dr.head()

    LOCATION   INDICATOR  TIME  Value
277      MEX  MEDICALDOC  1999   1.67
278      MEX  MEDICALDOC  2000   1.59
279      MEX  MEDICALDOC  2001   1.49
280      MEX  MEDICALDOC  2002   1.50
281      MEX  MEDICALDOC  2003   1.55

In [158]:
mex_nurses = mex_nurses.loc[mex_nurses['LOCATION'] == 'MEX']

In [159]:
#per 1000
mex_nurses.head()

     Unnamed: 0 LOCATION INDICATOR  TIME  Value
263         263      MEX     NURSE  1998   2.09
264         264      MEX     NURSE  1999   2.14
265         265      MEX     NURSE  2000   2.19
266         266      MEX     NURSE  2001   2.19
267         267      MEX     NURSE  2002   2.19

In [160]:
mex_hosp =hosp_c.loc[hosp_c['Country'] == 'Mexico']

In [161]:
mex_hosp.head()

     Country   Variable   YEA  Year   Value
1097  Mexico  Hospitals  2000  2000  3952.0
1098  Mexico  Hospitals  2001  2001  3978.0
1099  Mexico  Hospitals  2002  2002  4088.0
1100  Mexico  Hospitals  2003  2003  4150.0
1101  Mexico  Hospitals  2004  2004  4110.0