In [1]:
import scipy.stats as stats
import numpy as np
import pandas as pd
%autosave 120
pd.set_option('display.max_rows', 500)

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Autosaving every 120 seconds

## Infrastructure Data EDA Table of Contents
- [Reading in Data](#read) 
- [Infrastructure Data EDA & Cleaning](#eda)
    - [Infrastructure EDA & Cleaning](#infra)
        - [Infrastructure COV](#infra_cov)
    - [Healthcare Expenditure EDA & Cleaning](#healthcare)
        - [Healthcare Expenditure COV](#healthcare_cov)
    - [Pharmaceutical Expenditure EDA & Cleaning](#pharm)
        - [Pharmaceutical Expenditure COV](#pharm_cov)
    - [Health Indicators EDA & Cleaning](#health)
    - [Hospital Counts EDA & Cleaning](#hosp)
        - [Hospital Counts COV](#hosp_cov)
    - [Medical Workers EDA & Cleaning](#work)
        - [Medical Workers COV](#work_cov)
    - [Doctor Counts EDA & Cleaning](#doc)
        - [Doctor Counts COV](#doc_cov)
    - [Nurse Counts EDA & Cleaning](#nurse)
        - [Nurse Counts COV](#nurse_cov)
    - [Medical Technology Counts EDA & Cleaning](#tech)
        - [Medical Technology COV](#tech_cov)
- [EDA & COV AnalysisFindings](#find)

# Reading in Data

In [2]:
infra = pd.read_csv('../Data/Infrastructure/infrastructure_1.csv')
health = pd.read_csv('../Data/Infrastructure/Health_1.csv')
hosp_count = pd.read_csv('../Data/Infrastructure/healthcare_hospitalscount.csv')
doc_count = pd.read_csv('../Data/Infrastructure/docs_per1000.csv')
nurse_count = pd.read_csv('../Data/Infrastructure/nurses_per1000.csv')
pharm_spend = pd.read_csv('../Data/Infrastructure/pharm_uspercap.csv')
h_tech = pd.read_csv('../Data/Infrastructure/healthcare_tech.csv')
h_workers = pd.read_csv('../Data/Infrastructure/healthcare_workers.csv')
h_spend = pd.read_csv('../Data/Infrastructure/healthcare_expenditure.csv')

# Infrastructure EDA<a id='eda'></a>

The goal of EDA here will be to examine which datasets are feasible for our problem at hand. We need a dataset that covers a wide range of countries and data for at least 20 years. 

Once cleaned we will calculate the Coeffecient of Variation (COV) for our infrastructure metrics over time for each country. Countries with high COV may be politically unstable or have exhibited a large change in spending and have drastically changing budgets, whereas countries with low COV will have very stable budgets. 

Since our study is examining the relationship between change in infrastructure and change in disease rates, we are looking for a country that has exhibited relatively high COV for both diseases and infrastructure metrics.

## Infrastructure<a id='infra'></a> 

#### Varying Units

In [3]:
infra.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,ICT goods exports (% of total goods exports),TX.VAL.ICTG.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.404431,0.419583,0.713791,0.412533,0.933620,0.542872,1.038984,1.185680,NaN,NaN
1,Aruba,ABW,ICT goods imports (% total goods imports),TM.VAL.ICTG.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.764945,4.627908,4.420786,5.268659,5.243941,5.734922,4.918148,4.854330,NaN,NaN
2,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,62.000000,69.000000,74.000000,78.900000,83.780000,88.661227,93.542454,97.170000,NaN,NaN
3,Aruba,ABW,Secure Internet servers (per 1 million people),IT.NET.SECR.P6,NaN,NaN,NaN,NaN,NaN,NaN,...,88.522559,127.393528,253.510140,426.526042,568.543180,757.132862,1172.858342,977.544939,1152.628844,NaN
4,Aruba,ABW,Secure Internet servers,IT.NET.SECR,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,13.000000,26.000000,44.000000,59.000000,79.000000,123.000000,103.000000,122.000000,NaN

In [4]:
#infra.dtypes

In [5]:
#counting nulls for each
#infra.isnull().sum()

In [6]:
#checked unique countries
#infra['Country Name'].unique()

In [7]:
#checked unique indicators
#infra['Indicator Name'].unique()

In [8]:
columns = list(map(str, list(range(1960,1999))))

In [9]:
#dropping columns I don't need
infra.drop(axis = 0, columns = ['Country Code', 'Indicator Code'], inplace = True)

In [10]:
infra.drop(axis = 0, columns = columns, inplace = True)

In [11]:
#Setting the index to Country Name
infra = infra.set_index('Country Name')

In [12]:
infra.head()

,Indicator Name,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ICT goods exports (% of total goods exports),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.404431,0.419583,0.713791,0.412533,0.933620,0.542872,1.038984,1.185680,NaN,NaN
Aruba,ICT goods imports (% total goods imports),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.764945,4.627908,4.420786,5.268659,5.243941,5.734922,4.918148,4.854330,NaN,NaN
Aruba,Individuals using the Internet (% of population),4.506179,15.442823,17.1,18.8,20.8,23.0,25.4,28.0,30.9,...,62.000000,69.000000,74.000000,78.900000,83.780000,88.661227,93.542454,97.170000,NaN,NaN
Aruba,Secure Internet servers (per 1 million people),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.522559,127.393528,253.510140,426.526042,568.543180,757.132862,1172.858342,977.544939,1152.628844,NaN
Aruba,Secure Internet servers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,13.000000,26.000000,44.000000,59.000000,79.000000,123.000000,103.000000,122.000000,NaN

In [13]:
infra.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/infra_clean.csv', index = True)

**Notes**: Lots of nulls for early data because they likely did not have the means to record such data in the 70s and 80s. Should also be noted there are a lot of indicators here, will likely have to handpick which ones I will use.

### Infrastructure COV<a id='infra_cov'></a>

In [14]:
#finding total COV for a row, this does COV for each individual indicator
infra['COV'] = (infra.std(axis = 1))/(infra.mean(axis=1))

In [15]:
#we are grouping each country and summing all their COV for each indicator
infra_total_cov = infra.groupby('Country Name')['COV'].sum()

In [16]:
#converting to dataframe
infra_total_cov = pd.DataFrame(data=infra_total_cov)

In [17]:
infra_order = infra_total_cov.sort_values(by ='COV' , ascending=False)

In [18]:
infra_order.head(50)

                                                   COV
Country Name
Cambodia                                     33.707126
Ethiopia                                     25.794855
Tanzania                                     25.787598
Nepal                                        25.127342
Cameroon                                     24.730894
Indonesia                                    24.400963
India                                        24.040723
Myanmar                                      23.752706
China                                        23.733207
Brazil                                       23.533960
Vietnam                                      23.303752
Nigeria                                      23.292538
Zambia                                       23.133129
Bangladesh                                   22.971147
Sri Lanka                                    22.825156
Peru                                         22.526629
Sudan                                        22.225248
Mozambique                                   22.156971
Jordan                                       22.076495
Georgia                                      21.813127
Colombia                                     21.806065
Algeria                                      21.724836
Iraq                                         21.609453
South Asia (IDA & IBRD)                      21.428606
South Asia                                   21.428606
Turkey                                       21.394731
Albania                                      21.310590
Philippines                                  21.308190
Kenya                                        21.167495
Congo, Dem. Rep.                             21.072770
South Africa                                 21.056397
Ecuador                                      20.809583
Late-demographic dividend                    20.808252
Kazakhstan                                   20.801333
Russian Federation                           20.713183
Tajikistan                                   20.706168
Pakistan                                     20.591978
Thailand                                     20.497236
Iran, Islamic Rep.                           20.346149
Congo, Rep.                                  20.336390
Romania                                      20.316076
Bulgaria                                     20.311331
Uganda                                       20.261794
East Asia & Pacific (IDA & IBRD countries)   20.073992
Cuba                                         20.032722
Argentina                                    19.954277
East Asia & Pacific (excluding high income)  19.848013
Kyrgyz Republic                              19.656912
Lithuania                                    19.648415
Ghana                                        19.620444

In [19]:
infra_order.to_csv('../Data/Infrastructure/infrastructure_cov/infra_cov.csv', index = True)

## Healthcare Total Expenditure<a id='healthcare'></a> 

#### Percent GDP

In [20]:
h_spend.head()

  LOCATION  INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS  HEALTHEXP     TOT  PC_GDP         A  1971  4.547        NaN
1      AUS  HEALTHEXP     TOT  PC_GDP         A  1972  4.547        NaN
2      AUS  HEALTHEXP     TOT  PC_GDP         A  1973  4.511        NaN
3      AUS  HEALTHEXP     TOT  PC_GDP         A  1974  5.112        NaN
4      AUS  HEALTHEXP     TOT  PC_GDP         A  1975  5.760        NaN

In [21]:
h_spend['LOCATION'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'BRA', 'CHL', 'CHN', 'EST', 'IND', 'IDN',
       'ISR', 'RUS', 'SVN', 'ZAF', 'COL', 'LVA', 'LTU', 'OAVG', 'CRI',
       'BGR', 'HRV', 'CYP', 'MLT', 'ROU'], dtype=object)

In [22]:
h_spend.dtypes

LOCATION       object
INDICATOR      object
SUBJECT        object
MEASURE        object
FREQUENCY      object
TIME            int64
Value         float64
Flag Codes     object
dtype: object

In [23]:
h_spend.isnull().sum()

LOCATION          0
INDICATOR         0
SUBJECT           0
MEASURE           0
FREQUENCY         0
TIME              0
Value             0
Flag Codes    13859
dtype: int64

In [24]:
h_spend.drop(axis = 0, columns = ['FREQUENCY', 'Flag Codes'], inplace = True)

In [25]:
h_spend = h_spend.set_index('LOCATION')

In [26]:
h_spend.head()

          INDICATOR SUBJECT MEASURE  TIME  Value
LOCATION
AUS       HEALTHEXP     TOT  PC_GDP  1971  4.547
AUS       HEALTHEXP     TOT  PC_GDP  1972  4.547
AUS       HEALTHEXP     TOT  PC_GDP  1973  4.511
AUS       HEALTHEXP     TOT  PC_GDP  1974  5.112
AUS       HEALTHEXP     TOT  PC_GDP  1975  5.760

In [27]:
h_spend.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/hspend_clean.csv', index = True)

**Notes**: Going to have to conver the index 3 letter to actual country name since that's what the other datasets are using. Will be easy once I do country selection and my subset of countries is relatively small. Decided to leave in subject, indicator, and measure for convenience stack. Also a wide range of data for this dataset, going back to 1971 WITH values.

### Healthcare Spending COV<a id='healthcare_cov'></a>

In [28]:
#grouping by location and taking the COV of all values for grouped countries
spend_cov = (h_spend.groupby('LOCATION')['Value'].std()) / (h_spend.groupby('LOCATION')['Value'].mean())
spend_cov = pd.DataFrame(data=spend_cov)

#renaming for readability
spend_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
spend_order = spend_cov.sort_values(by ='COV' , ascending=False)

In [29]:
spend_order.to_csv('../Data/Infrastructure/infrastructure_cov/spend_cov.csv', index = True)

In [30]:
#highest 50 COV
spend_order.head(50)

               COV
LOCATION
LUX       2.375354
IRL       2.271800
NOR       2.222062
GBR       2.213435
USA       2.208883
DNK       2.194189
KOR       2.179606
DEU       2.175834
JPN       2.147319
FIN       2.127337
NZL       2.110088
AUS       2.084166
NLD       2.043463
SWE       2.041311
CZE       2.024761
ISL       1.988554
ESP       1.982093
FRA       1.976857
AUT       1.971321
TUR       1.946248
CAN       1.933522
PRT       1.904443
ITA       1.898562
POL       1.809955
SVK       1.776030
HRV       1.765101
EST       1.754667
ROU       1.718227
BEL       1.711734
SVN       1.659320
HUN       1.652760
ISR       1.644205
COL       1.639708
LTU       1.633996
ZAF       1.600627
CHE       1.600128
MLT       1.577861
CRI       1.561709
CHL       1.550644
GRC       1.529266
RUS       1.521523
BGR       1.518551
LVA       1.478707
CHN       1.465293
BRA       1.460396
CYP       1.421193
MEX       1.359970
IDN       1.206456
OAVG      1.039532
IND       0.992668

# Pharmaceutical Spending<a id='pharm'></a> 

#### US Dollars / Capita

In [31]:
pharm_spend.head()

  LOCATION  INDICATOR SUBJECT  MEASURE FREQUENCY  TIME    Value Flag Codes
0      AUS  PHARMAEXP     TOT  USD_CAP         A  1998  258.948        NaN
1      AUS  PHARMAEXP     TOT  USD_CAP         A  1999  287.245        NaN
2      AUS  PHARMAEXP     TOT  USD_CAP         A  2000  338.160        NaN
3      AUS  PHARMAEXP     TOT  USD_CAP         A  2001  367.652        NaN
4      AUS  PHARMAEXP     TOT  USD_CAP         A  2002  381.433        NaN

In [32]:
pharm_spend.isnull().sum()

LOCATION        0
INDICATOR       0
SUBJECT         0
MEASURE         0
FREQUENCY       0
TIME            0
Value           0
Flag Codes    613
dtype: int64

In [33]:
pharm_spend['LOCATION'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'EST', 'ISR', 'SVN', 'LVA', 'LTU', 'BGR',
       'HRV', 'CYP', 'ROU', 'RUS', 'CRI', 'MLT'], dtype=object)

In [34]:
pharm_spend['TIME'].unique()

array([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [35]:
pharm_spend.drop(axis = 0, columns = ['SUBJECT', 'MEASURE', 'FREQUENCY', 'Flag Codes'], inplace = True)

In [36]:
pharm_spend.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/pharm_spend_clean.csv', index = True)

### Pharmaceutical Spending COV<a id='pharm_cov'></a>

In [37]:
#grouping by location and taking the COV of all values for grouped countries
pharm_cov = (pharm_spend.groupby('LOCATION')['Value'].std()) / (pharm_spend.groupby('LOCATION')['Value'].mean())
pharm_cov = pd.DataFrame(data=pharm_cov)

#renaming for readability
pharm_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
pharm_order = spend_cov.sort_values(by ='COV' , ascending=False)

In [38]:
pharm_order.to_csv('../Data/Infrastructure/infrastructure_cov/pharm_cov.csv', index = True)

In [39]:
pharm_order.head()

               COV
LOCATION
LUX       2.375354
IRL       2.271800
NOR       2.222062
GBR       2.213435
USA       2.208883

## Health Indicators<a id='health'></a> 

#### Varying Units

In [40]:
health.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aruba,ABW,Completeness of death registration with cause-...,SP.REG.DTHS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aruba,ABW,Completeness of birth registration (%),SP.REG.BRTH.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,"Completeness of birth registration, urban (%)",SP.REG.BRTH.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aruba,ABW,"Completeness of birth registration, rural (%)",SP.REG.BRTH.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#checked nulls
#health.isnull().sum()

In [42]:
len(health['Indicator Name'].unique())

250

In [43]:
len(health['Country Name'].unique())

264

In [44]:
#checked unique indicators
#health['Indicator Name'].unique()

**Notes**: Most of the data that I want from this dataset can be found in the infrastructure dataset above. Therefore I will likely not be using this dataset.

## Hospital Counts<a id='hosp'></a> 

#### Raw Counts

In [45]:
hosp_count.head()

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2000,2000,1265.0,NaN,NaN
1,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2001,2001,1283.0,NaN,NaN
2,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2002,2002,1284.0,NaN,NaN
3,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2003,2003,1286.0,NaN,NaN
4,HOSPTHOS,Hospitals,NOMBRENB,Number,AUS,Australia,2004,2004,1291.0,NaN,NaN

In [46]:
hosp_count.dtypes

VAR            object
Variable       object
UNIT           object
Measure        object
COU            object
Country        object
YEA             int64
Year            int64
Value         float64
Flag Codes     object
Flags          object
dtype: object

In [47]:
hosp_count['Country'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States', 'Chile', 'Estonia', 'Israel',
       'Slovenia', 'Lithuania', 'Latvia'], dtype=object)

In [48]:
hosp_count.isnull().sum()

VAR              0
Variable         0
UNIT             0
Measure          0
COU              0
Country          0
YEA              0
Year             0
Value            0
Flag Codes    4306
Flags         4306
dtype: int64

In [49]:
hosp_count['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [50]:
hosp_count.drop(axis = 0, columns = ['VAR', 'UNIT', 'Measure', 'COU', 'YEA', 'Flag Codes', 'Flags'], inplace = True)

In [51]:
hosp_count = hosp_count.set_index('Country')

In [52]:
hosp_count.head()

            Variable  Year   Value
Country
Australia  Hospitals  2000  1265.0
Australia  Hospitals  2001  1283.0
Australia  Hospitals  2002  1284.0
Australia  Hospitals  2003  1286.0
Australia  Hospitals  2004  1291.0

In [53]:
hosp_count.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/hospcount_clean.csv', index = True)

**Notes**: Pretty straightforward dataset, just counts of hospitals in a country over time. Will likely have the lowest COV among other datasets. Data goes back to 2000.

### Hospital COV<a id='hosp_cov'></a>

In [54]:
#grouping by location and taking the COV of all values for grouped countries
hosp_cov = (hosp_count.groupby('Country')['Value'].std()) / (hosp_count.groupby('Country')['Value'].mean())
hosp_cov = pd.DataFrame(data=hosp_cov)

#renaming for readability
hosp_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
hosp_order = hosp_cov.sort_values(by ='COV' , ascending=False)

In [55]:
hosp_order.to_csv('../Data/Infrastructure/infrastructure_cov/hosp_cov.csv', index = True)

In [56]:
#highest 50 COV
hosp_order.head(50)

                      COV
Country
Netherlands      1.449967
Korea            1.440981
Mexico           1.361906
Turkey           1.339239
Japan            1.235737
Italy            1.230184
United States    1.222081
Germany          1.220496
Spain            1.206731
France           1.206625
Canada           1.204158
Australia        1.195225
Greece           1.154831
Iceland          1.152590
Poland           1.142906
United Kingdom   1.128810
Czech Republic   1.118954
Austria          1.094926
Portugal         1.092298
Lithuania        1.024580
Hungary          1.022128
Israel           1.009369
Ireland          1.003076
Belgium          0.989929
Chile            0.986049
New Zealand      0.965217
Finland          0.964724
Switzerland      0.910013
Norway           0.899113
Latvia           0.855941
Slovenia         0.840293
Sweden           0.826885
Luxembourg       0.822204
Slovak Republic  0.766616
Estonia          0.725619

## Medical Worker Counts<a id='work'></a> 

#### Raw Counts

In [57]:
h_workers.head()

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,HEDUMEGR,Medical graduates,NOMBRENB,Number,AUS,Australia,2005,2005,1798.0,NaN,NaN
1,HEDUMEGR,Medical graduates,NOMBRENB,Number,AUS,Australia,2006,2006,1884.0,NaN,NaN
2,HEDUMEGR,Medical graduates,NOMBRENB,Number,AUS,Australia,2007,2007,2117.0,NaN,NaN
3,HEDUMEGR,Medical graduates,NOMBRENB,Number,AUS,Australia,2008,2008,2389.0,NaN,NaN
4,HEDUMEGR,Medical graduates,NOMBRENB,Number,AUS,Australia,2009,2009,2361.0,NaN,NaN

In [58]:
h_workers.dtypes

VAR            object
Variable       object
UNIT           object
Measure        object
COU            object
Country        object
YEA             int64
Year            int64
Value         float64
Flag Codes     object
Flags          object
dtype: object

In [59]:
h_workers['Country'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg',
       'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Slovak Republic', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Kingdom', 'United States', 'Brazil', 'Chile',
       "China (People's Republic of)", 'Estonia', 'India', 'Indonesia',
       'Israel', 'Russia', 'Slovenia', 'South Africa', 'Lithuania',
       'Latvia', 'Colombia', 'Costa Rica'], dtype=object)

In [60]:
h_workers.isnull().sum()

VAR               0
Variable          0
UNIT              0
Measure           0
COU               0
Country           0
YEA               0
Year              0
Value             2
Flag Codes    79520
Flags         79520
dtype: int64

In [61]:
h_workers['Year'].unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018])

In [62]:
h_workers.drop(axis = 0, columns = ['VAR', 'UNIT', 'Measure', 'COU', 'Flag Codes', 'Flags'], inplace = True)

In [63]:
h_workers = h_workers.set_index('Country')

In [64]:
h_workers.head()

                    Variable   YEA  Year   Value
Country
Australia  Medical graduates  2005  2005  1798.0
Australia  Medical graduates  2006  2006  1884.0
Australia  Medical graduates  2007  2007  2117.0
Australia  Medical graduates  2008  2008  2389.0
Australia  Medical graduates  2009  2009  2361.0

In [65]:
h_workers.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/workers_clean.csv', index = True)

**Notes**: Again a fairly straight forward dataset, just counts for each type of graduates. Unfortunately values start in 2005, will have to figure out how to find data for 2000-2005. Will be feasable once I select my subset of countries.

### Medical Workers COV<a id='work_cov'></a>

In [66]:
#grouping by location and taking the COV of all values for grouped countries
workers_cov = (h_workers.groupby('Country')['Value'].std()) / (h_workers.groupby('Country')['Value'].mean())
workers_cov = pd.DataFrame(data=workers_cov)

#renaming for readability
workers_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
workers_order = workers_cov.sort_values(by ='COV' , ascending=False)

In [67]:
workers_order.to_csv('../Data/Infrastructure/infrastructure_cov/worker_cov.csv', index = True)

In [68]:
workers_order.head(50)

                                   COV
Country
Iceland                       6.827375
Chile                         6.824575
Hungary                       5.387268
Denmark                       5.193154
United Kingdom                4.898067
Sweden                        4.842242
Switzerland                   4.348566
United States                 4.346516
France                        4.336614
Norway                        4.222294
Czech Republic                4.204086
Germany                       4.121870
Korea                         4.078239
Luxembourg                    3.734019
Netherlands                   3.690612
Israel                        3.649399
Japan                         3.646262
Austria                       3.544116
Australia                     3.508238
Latvia                        3.431398
Italy                         3.415987
Canada                        3.406531
Slovenia                      3.381035
Poland                        3.353574
New Zealand                   3.320529
Spain                         3.275637
Turkey                        3.273396
Ireland                       3.238867
Finland                       3.238172
Lithuania                     3.163814
Slovak Republic               3.162371
Belgium                       3.146927
Portugal                      3.045681
Estonia                       2.972999
Mexico                        2.968214
Greece                        2.958915
Costa Rica                    2.062657
Russia                        1.784727
Brazil                        1.713723
South Africa                  1.541819
Colombia                      1.477927
Indonesia                     1.267130
China (People's Republic of)  1.171717
India                         1.165288

# Doctor Counts<a id='doc'></a> 

#### Per 1000

In [69]:
doc_count.head()

  LOCATION   INDICATOR SUBJECT  MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS  MEDICALDOC     TOT  1000HAB         A  1999   2.45        NaN
1      AUS  MEDICALDOC     TOT  1000HAB         A  2000   2.49        NaN
2      AUS  MEDICALDOC     TOT  1000HAB         A  2001   2.56        NaN
3      AUS  MEDICALDOC     TOT  1000HAB         A  2002   2.56        NaN
4      AUS  MEDICALDOC     TOT  1000HAB         A  2003   2.63        NaN

In [70]:
doc_count.isnull().sum()

LOCATION        0
INDICATOR       0
SUBJECT         0
MEASURE         0
FREQUENCY       0
TIME            0
Value           0
Flag Codes    571
dtype: int64

In [71]:
doc_count['LOCATION'].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX', 'NLD',
       'NZL', 'NOR', 'POL', 'SVK', 'ESP', 'SWE', 'CHE', 'TUR', 'GBR',
       'USA', 'BRA', 'CHN', 'EST', 'IND', 'IDN', 'ISR', 'RUS', 'SVN',
       'ZAF', 'COL', 'LVA', 'LTU'], dtype=object)

In [72]:
doc_count['TIME'].unique()

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2010, 2018])

In [73]:
doc_count.drop(axis = 0, columns = ['SUBJECT', 'MEASURE', 'FREQUENCY', 'Flag Codes'], inplace = True)

In [74]:
doc_count.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/doc_count_clean.csv', index = True)

### Doctor Count COV<a id='doc_cov'></a>

In [75]:
#grouping by location and taking the COV of all values for grouped countries
doc_cov = (doc_count.groupby('LOCATION')['Value'].std()) / (doc_count.groupby('LOCATION')['Value'].mean())
doc_cov = pd.DataFrame(data=doc_cov)

#renaming for readability
doc_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
doc_order = spend_cov.sort_values(by ='COV' , ascending=False)

In [76]:
doc_order.to_csv('../Data/Infrastructure/infrastructure_cov/doc_cov.csv', index = True)

In [77]:
doc_order.head(50)

               COV
LOCATION
LUX       2.375354
IRL       2.271800
NOR       2.222062
GBR       2.213435
USA       2.208883
DNK       2.194189
KOR       2.179606
DEU       2.175834
JPN       2.147319
FIN       2.127337
NZL       2.110088
AUS       2.084166
NLD       2.043463
SWE       2.041311
CZE       2.024761
ISL       1.988554
ESP       1.982093
FRA       1.976857
AUT       1.971321
TUR       1.946248
CAN       1.933522
PRT       1.904443
ITA       1.898562
POL       1.809955
SVK       1.776030
HRV       1.765101
EST       1.754667
ROU       1.718227
BEL       1.711734
SVN       1.659320
HUN       1.652760
ISR       1.644205
COL       1.639708
LTU       1.633996
ZAF       1.600627
CHE       1.600128
MLT       1.577861
CRI       1.561709
CHL       1.550644
GRC       1.529266
RUS       1.521523
BGR       1.518551
LVA       1.478707
CHN       1.465293
BRA       1.460396
CYP       1.421193
MEX       1.359970
IDN       1.206456
OAVG      1.039532
IND       0.992668

# Nurse Counts<a id='nurse'></a> 

#### Per 1000

In [78]:
nurse_count.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS     NURSE     TOT  1000HAB         A  1998  10.30        NaN
1      AUS     NURSE     TOT  1000HAB         A  1999  10.17        NaN
2      AUS     NURSE     TOT  1000HAB         A  2000  10.07        NaN
3      AUS     NURSE     TOT  1000HAB         A  2001   9.95        NaN
4      AUS     NURSE     TOT  1000HAB         A  2002   9.94        NaN

In [79]:
nurse_count.isnull().sum()

LOCATION        0
INDICATOR       0
SUBJECT         0
MEASURE         0
FREQUENCY       0
TIME            0
Value           0
Flag Codes    603
dtype: int64

In [80]:
nurse_count['LOCATION'].unique()

array(['AUS', 'AUT', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU', 'GRC',
       'HUN', 'ISL', 'IRL', 'JPN', 'KOR', 'LUX', 'MEX', 'NLD', 'NZL',
       'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'CHE', 'TUR', 'GBR', 'USA',
       'BRA', 'CHN', 'EST', 'IND', 'IDN', 'ISR', 'RUS', 'SVN', 'ZAF',
       'ITA', 'BEL', 'SWE', 'COL', 'LVA', 'LTU'], dtype=object)

In [81]:
nurse_count['TIME'].unique()

array([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2007, 2008, 2009,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2006, 2010, 2018])

In [82]:
nurse_count.drop(axis = 0, columns = ['SUBJECT', 'MEASURE', 'FREQUENCY', 'Flag Codes'], inplace = True)

In [83]:
nurse_count.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/nurse_count_clean.csv', index = True)

### Nurse Count COV<a id='nurse_cov'></a>

In [84]:
#grouping by location and taking the COV of all values for grouped countries
nurse_cov = (nurse_count.groupby('LOCATION')['Value'].std()) / (nurse_count.groupby('LOCATION')['Value'].mean())
nurse_cov = pd.DataFrame(data=nurse_cov)

#renaming for readability
nurse_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
nurse_order = nurse_cov.sort_values(by ='COV' , ascending=False)

In [85]:
nurse_order.to_csv('../Data/Infrastructure/infrastructure_cov/nurse_cov.csv', index = True)

In [86]:
nurse_order.head(50)

               COV
LOCATION
BRA       0.494020
CHN       0.395138
COL       0.342354
IND       0.283637
KOR       0.274460
TUR       0.250791
ZAF       0.244208
IDN       0.195418
LUX       0.188432
FRA       0.168408
ESP       0.155410
PRT       0.139806
CHE       0.128733
NOR       0.122984
MEX       0.115232
JPN       0.106439
SVN       0.103250
RUS       0.102830
SVK       0.096295
DEU       0.088190
AUT       0.084584
FIN       0.079208
BEL       0.073224
LVA       0.070027
GRC       0.066817
HUN       0.065544
AUS       0.059548
ISL       0.055829
NLD       0.055300
GBR       0.053968
CAN       0.052244
ISR       0.050789
SWE       0.049511
NZL       0.048852
IRL       0.047664
USA       0.046821
LTU       0.042805
ITA       0.036675
POL       0.035642
EST       0.034744
DNK       0.030603
CZE       0.028545

## Medical Technology Counts<a id='tech'></a> 

#### Raw Counts

In [87]:
h_tech.head()

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,IPINSCAN,"Computed Tomography scanners, total",NOMBRENB,Number,AUS,Australia,2000,2000,500.0,E,Estimated value
1,IPINSCAN,"Computed Tomography scanners, total",NOMBRENB,Number,AUS,Australia,2001,2001,560.0,E,Estimated value
2,IPINSCAN,"Computed Tomography scanners, total",NOMBRENB,Number,AUS,Australia,2002,2002,670.0,E,Estimated value
3,IPINSCAN,"Computed Tomography scanners, total",NOMBRENB,Number,AUS,Australia,2003,2003,800.0,E,Estimated value
4,IPINSCAN,"Computed Tomography scanners, total",NOMBRENB,Number,AUS,Australia,2004,2004,910.0,E,Estimated value

In [88]:
h_tech.dtypes

VAR            object
Variable       object
UNIT           object
Measure        object
COU            object
Country        object
YEA             int64
Year            int64
Value         float64
Flag Codes     object
Flags          object
dtype: object

In [89]:
h_tech['Country'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg',
       'Mexico', 'Netherlands', 'New Zealand', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States', 'Brazil', 'Chile', 'Estonia',
       'Israel', 'Russia', 'Slovenia', 'Latvia', 'Lithuania', 'Colombia',
       'Costa Rica'], dtype=object)

In [90]:
h_tech.isnull().sum()

VAR               0
Variable          0
UNIT              0
Measure           0
COU               0
Country           0
YEA               0
Year              0
Value             0
Flag Codes    12466
Flags         12466
dtype: int64

In [91]:
h_tech['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2007, 2008])

In [92]:
h_tech.drop(axis = 0, columns = ['VAR', 'UNIT', 'Measure', 'COU', 'Flag Codes', 'YEA', 'Flags'], inplace = True)

In [93]:
h_tech = h_tech.set_index('Country')

In [94]:
h_tech.head()

                                      Variable  Year  Value
Country
Australia  Computed Tomography scanners, total  2000  500.0
Australia  Computed Tomography scanners, total  2001  560.0
Australia  Computed Tomography scanners, total  2002  670.0
Australia  Computed Tomography scanners, total  2003  800.0
Australia  Computed Tomography scanners, total  2004  910.0

In [95]:
h_tech.to_csv('../Data/Infrastructure/Cleaned_Infrastructure/tech_clean.csv', index = True)

**Notes**: Another count dataset with data from 2000 to now.

### Medical Technology COV<a id='tech_cov'></a>

In [96]:
#grouping by location and taking the COV of all values for grouped countries
tech_cov = (h_tech.groupby('Country')['Value'].std()) / (h_tech.groupby('Country')['Value'].mean())
tech_cov = pd.DataFrame(data=tech_cov)

#renaming for readability
tech_cov.rename(columns={"Value": "COV"}, inplace = True)

#creating a dataframe that is ordered by COV and not alphabetically.
tech_order = tech_cov.sort_values(by ='COV' , ascending=False)

In [97]:
tech_order.to_csv('../Data/Infrastructure/infrastructure_cov/tech_cov.csv', index = True)

In [98]:
#highest COV
tech_order

                      COV
Country
Mexico           2.168663
Chile            1.755242
Korea            1.712309
Japan            1.681581
Canada           1.609451
France           1.598685
Poland           1.559945
Italy            1.537384
Australia        1.537054
Finland          1.511528
Greece           1.500681
Israel           1.483207
Colombia         1.482201
Spain            1.466104
Russia           1.453200
Denmark          1.427482
Portugal         1.424535
Turkey           1.397908
Lithuania        1.386403
Netherlands      1.384177
Austria          1.381010
United States    1.372259
Germany          1.369777
Latvia           1.337513
Slovak Republic  1.274289
Czech Republic   1.266330
Hungary          1.249417
Switzerland      1.241003
Brazil           1.234981
Costa Rica       1.203856
Estonia          1.170103
Iceland          1.167719
Belgium          1.115517
Sweden           1.096807
United Kingdom   1.074855
Luxembourg       1.070011
New Zealand      1.019461
Ireland          0.996249
Slovenia         0.950987

# Infrastructure Coeffecient of Variation Analysis Findings<a id='find'></a>

From our initial findings in disease analysis we found that may volatile countries in regards to disease transmission are in the Latin America / Carribean region. Additionally, many Latin American / African countries have very volatile infrastructures further making them good candidates for study. Of these countries some that stood out were Mexico and Brazil because they fit all the criteria as well as having more robust data available. Mexico also shows high variation in the amount of medical technology and number of hospitals.  For those reasons along with the robustness of data available I think Mexico will be a good choice of study.